h1 {
    color: white;
    background-color: black;
    border: solid black;
    
}
/*16:46sec coverd. date= 28/01/2025. chapter5

now start 29/01 next*/

body {
    background-color: pink;
}

#pg {
    color: rgb(111, 217, 225);
    
}

.pr {
    background-color: yellow;
}

